body {
    margin: 0%;
    padding: 0%;
}
.main {
    background-image: url("images/Homepage_Desktop.webp");
    height:100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.nav {
    width: 60%;
    font: 16px/26px D-DIN-Regular, Arial, Verdana, sans-serif;
}

.container {
    display: flex;
    position: relative;
}
.nav-item {
    color: white;
    display: flex;
    font-weight: 600;
    font-size: 11.5px;
    position: relative;
    list-style: none;
    font-weight: bold;
    letter-spacing: 0.5;
    justify-content: space-around;
    margin-top: 42px;
}


.nav-item li::after{
    content: "";
    width:  0%;
    height: 2px;
    background: white;
    display:block;
    margin:auto;
    transition: 0.5s;
}


.nav-item li:hover::after{
text-decoration: underline .5px;
cursor: pointer;
width: 100%;
}
#navigation-right {
    margin-top: 5px;
    padding-left: 90px;
    position: relative;
    font: Arial, Verdana, sans-serif;
    font-weight: bold;
}

#hamburger {
    margin-top: 22px;
    list-style: none;
    color: white;
}
#hamburger :hover {
    color: rgb(254, 68, 68);
    cursor: pointer;
}

#logo { 
    filter: invert(100%);
    padding-left: 60px;
    height: 100px;
    width: 180px;
    position: relative;;
}

#mainContent {
    color: white;
    position: relative;
    text-transform: uppercase;
    margin-top: 200px;
    margin-left: 50px;
    font: 14px/50px Arial, Verdana, sans-serif;
    animation-name: example;
    animation-duration: 1s;
    animation-direction: reverse;
}
@keyframes example {
    from {margin-top: 200px;}
    to {margin-top: 400px;}
  }

.mainBox {
    border: 2px solid white;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
    transition: color .5s cubic-bezier(.19, 1, .22, 1);
    width: 150px;
    font-weight: bold;
    margin-top: 20px;
    transition-duration: 0.4s;
}
#main2{
    height: 40px;
    padding-top: 20px;
}
.mainBox:hover{
    background-color: #ffffff;
    color: black;
}



h2 {
    font: 46px/50px D-DIN-Bold, Arial, Verdana, sans-serif;
    font-weight: 650;
    font-style: normal;
    text-transform: uppercase;
    margin: auto;
}

.secondPage {
    background-image: url("images/second_Homepage_Desktop.webp");
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
}

#secondContent{
    color: white;
    text-transform: uppercase;
    margin-top: 300px;
    margin-left: 50px;
}


.thirdPage {
    background-image: url("images/S20_Chopstick_Stack_Desktop.webp");
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
}

#thirdContent {
    color: white;
    display:relative;
    text-transform: uppercase;
    margin-top: 350px;
    margin-left: 50px;
    font: 14px/50px Arial, Verdana, sans-serif;
}


.fourthPage {
    background-image: url("images/hls-resized-2.webp");
    width: 100%;
    height: 100vh;
    display: flex;
    background-position: center;
    background-size: cover;
}

#fourthContent{
    color: white;
    display:relative;
    text-transform: uppercase;
    margin-top: 350px;
    margin-left: 50px;
    font: 14px/50px Arial, Verdana, sans-serif;
}

footer {
    background-color: black;
    text-transform: uppercase;
    display: flex;
    height: 90px;
}

.footer-item {
    color: white;
    width: 60%;
    display: flex;
    font-weight: 200;
    font-size: 11px;
    position: relative;
    list-style: none;
    font-weight: bold;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 200px;
    font-family: Arial, Verdana, sans-serif;
}

.footer-item li:hover{
    cursor: pointer;
    color: #979797;
}

footer span {
    font-size: 12px;
    margin: 0 20px;
    color: #979797;
}
@media (max-width:600px) {
    .main{
        height: 130vh;
    }
  
    .nav-item{
        display: none;
    }
    #hamburger{
        margin-right: 30px;
    }
    #navigation-right{
        display:contents;
    }
 
    #fourthContent{
        margin-top: 0px;
        padding-top: 150px;
    }
    footer{
        height: 205px;
        background-color: black;
        justify-content: center;
        align-items: center;
        width: auto;
        /* position: relative; */
    }

    .footer-item li{
      display: none;
    }
    .footer-item {
        margin-left: 0px;
    }

}
@media (max-width:760px) {
    .main{
        height: 130vh;
    }
  
    .nav-item{
        display: none;
    }
    #hamburger{
        margin-right: 50px;
        margin-left: 0px;
    }
    #navigation-right{
        display:contents;
    }
 
    #fourthContent{
        margin-top: 0px;
        margin-left: 0px;
        padding-top: 150px;
    }
    footer{
        height: 205px;
        background-color: black;
        justify-content: center;
        align-items: center;
        width: auto;
        /* position: relative; */
    }

    .footer-item li{
      display: none;
    }
    .footer-item {
        margin-left: 0px;
    }

}

@media (max-width:1050px) {
    .main{
        height: 130vh;
    }
  
    .nav-item{
        display: none;
    }
    #hamburger{
        margin-right: 50px;
    }
    #navigation-right{
        display:contents;
    }
 
    #fourthContent{
        margin-top: 0px;
        padding-top: 150px;
        margin-left: 0px;
    }
    .hemburger-mnue{
        margin-left: 10px;
    }
    footer{
        height: 205px;
        background-color: black;
        justify-content: center;
        align-items: center;
        width: auto;
        /* position: relative; */
    }

    .footer-item li{
      display: none;
    }
    .footer-item {
        margin-left: 0px;
    }

}

